.banner-wrap {
	overflow: hidden;
	width: 100%;
	height: 468px;
	background: url(../../../img/banner-bg.jpg) no-repeat;
	ul.banner {
		li {
			float: left;
			img {
				width: 100%;
			}
		}
	}
	div.banner-dots {
		.slide-dot {
			display: inline-block;
			width: 30px;
			height: 10px;
			margin: 0 10px;
			background: #eee;
		}
		.slider-dot-selected {
			background: red;
		}
	}
}
