* {box-sizing: border-box;}
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:"Microsoft YaHei","Tahoma","Arial","Times New Roman"}
*, body, html {margin: 0px; padding: 0px;}
a {text-decoration: none;}
.container {
	display: block;
	width: 1200px;
	margin: 0 auto;
}
ul, ul li {
	list-style: none;
}
#header {
	height: 230px;
	background: #f6f6f6 url(../img/headr-bg.png) no-repeat top right;
	.container {
		position: relative;
		height: 100%;
		.switch {
			position: absolute;
			left: 20px;
			top: 20px;
			width: 131px;
			height: 30px;
			padding-left: 44px;
			background: url(../img/switch-bg.png) no-repeat center bottom;
			select {
				border: none;
    			background: transparent;
			}
		}
		.concat {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 12px;
			color: #fff;
		}
		.logo {
			position: absolute;
			width: 222px;
			height: 83px;
			left: 20px;
			bottom: 0px;
		}
		.menu {
			position: absolute;
			right: 80px;
			bottom: 40px;
			li {
				position: relative;
				float: left;
				a {
					display: inline-block;
					font-size: 14px;
					color: #221815;
				}
				.bg-line {
					display: inline-block;
					width: 78px;
					height: 120px;
					margin-left: 4px;
					background: url(../img/menu-bg.png) no-repeat;
					background-position: -2px 39px;
				}
				a.active {
					color: #1d5685;
				}
				a.active + .bg-line {
					background: url(../img/menu-active-bg.png) no-repeat;
					background-position: 0px 8px;
				}
				a.cd-wrap {
					top: 0px;
					bottom: auto;
					left: 20px;
				}
			}
		}
	}
	
}
.about-news {
	height: 376px;
	background: #2a2a2a;
	color: #e2e2e2;
	.container {
		height: 100%;
		.about-p, .news-l {
			width: 49%;
			padding: 10px 38px;
			line-height: 20px;
			font-size: 14px;
			h3 {
				font-size: 18px;
				line-height: 110px;
			}
		}
		.about-p {
			float: left;
		}
		.news-l {
			float: right;
			a {
				color: #e2e2e2;
			}
			a:hover {
				color: #fff;
			}
		}
	}
}
.pro-slide {
	height: 227px;
}
#footer {
	height: 300px;
	padding-top: 97px;
	background: url(../img/footer-bg.jpg) no-repeat bottom center;
	background-size: 100% 264px;
	.info-wrap {
		height: 154px;
		border-bottom: 2px solid #c9c6bf;
		.map, .info, .qrcode {
			float: left;
			width: 33%;
			height: 144px;
		}
		.map {
			padding-left: 50px;
		}
		.info {
			padding: 44px 0px 15px 15px;
			border-left: 2px solid #d3cfc6;
			border-right: 2px solid #d3cfc6;
			h3 {
				font-size: 12px;
				color: #1d5685;
			}
			span {
				display: block;
				line-height: 20px;
				font-size: 12px;
				color: #595757;
			}
		}
		.qrcode {
			padding-left: 50px;
			padding-top: 25px;
		}
	}
	.right {
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		color: #898989;
	}
}