*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:"Microsoft YaHei","Tahoma","Arial","Times New Roman"}
.container {
	display: block;
	width: 1200px;
	margin: 0 auto;
}
#header {
	height: 300px;
}
#footer {
	height: 300px;
}