* {box-sizing: border-box;}
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:"Microsoft YaHei","Tahoma","Arial","Times New Roman"}
*, body, html {margin: 0px; padding: 0px;}
.container {
	display: block;
	width: 1200px;
	margin: 0 auto;
}
ul, ul li {
	list-style: none;
}
#header {
	background: url(../img/head-bg.png) no-repeat top right;
	height: 300px;
	.menu {
		li {
			float: left;
		}
	}
}
#footer {
	height: 300px;
	padding-top: 130px;
	.info-wrap {
		height: 150px;
	}
	.right {
		height: 20px;
		font-size: 12px;
		line-height: 20px;
		color: #898989;
	}
}